/*********************************************************
beyondskins.Responsive - Diazo responsive theme for Plone
Simples Consultoria - www.simplesconsultoria.com.br
*********************************************************/

/* reset */
* {margin:0; padding:0; list-style:none; vertical-align:baseline;}

/****************** Basic Stuff ******************/

/* Colors and fonts */
body {
background-color: #000;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
font-size: 62.5%; /* with this 1em = 10px */
}


a:link, #content a:link, dl.portlet a:link {color:#BACFE2;}
#content a:visited, dl.portlet a:visited {color: #BAAEC9;}
#content a:hover, dl.portlet a:hover {color: #ddddff !important;}
h1 {color: #B7D1E7;}
h2, h3, h4, h5, h6 {color: #BBB;}
h1, h2, h3 {margin: 0.5em 0 0.5em;}
p {line-height: 1.8em; margin: 0 0 1em 0;}
#content .documentDescription, #content #description {color: #EEE;}
#content .discreet, #sidebar .discreet {color: #CCC;}

.formHelp {color: #999;}

#wrapper {
width:auto;
margin: 0 auto;
max-width: 90%;
font-size: 1.4em;}

#main {
background-image: -o-linear-gradient(left , rgb(255,153,0) 50%, rgb(18,18,18) 50%, rgb(32,92,144) 50%);
background-image: -moz-linear-gradient(left , rgb(255,153,0) 50%, rgb(18,18,18) 50%, rgb(32,92,144) 50%);
background-image: -webkit-linear-gradient(left , rgb(255,153,0) 50%, rgb(18,18,18) 50%, rgb(32,92,144) 50%);
background-image: -ms-linear-gradient(left , rgb(255,153,0) 50%, rgb(18,18,18) 50%, rgb(32,92,144) 50%);
background-image: linear-gradient(left , rgb(255,153,0) 50%, rgb(18,18,18) 50%, rgb(32,92,144) 50%);

font-size: 1.6em;
padding: 0 0;
border-left: solid 2em #ff9900;
border-top: solid 1.5em #ff9900;
border-right: solid 2em #205C90;
border-bottom: solid 2em #205C90;
border-radius: 2em 0 2em 0;
margin-top: 0.4em;
}

/* fix cover overlay, you can remove this lines if you dont use collective cover */
/*#exposeMask {z-index: 0 !important;}
.close {opacity: 0.6; text-indent: -10000px;}*/

/* input buttons and text */
input {
border-radius: .8em;
margin: 0 .3em;
padding: .2em .8em;
border-style: none;
}

select {
border-radius: .8em;
padding: .2em .8em;
background-color: #DDD;
}

textarea {
border-radius: 1em;
padding: .5em;
}

/****************** HEADER ******************/

/* logo */
#logo {
padding:0; float: left; width: 20%;
background: #205C90;

overflow: hidden;
position: relative;
}
#logo img {max-width:100%; padding-left: 10%;}
#logo a {display:block; width:100%; padding:3% 1%; }
#logo-swipe {
background: #000000;
width: 4em;
/*float: right;*/
border-radius: 0 0 0 3em;
position: absolute;
height: 100%;
right: 0;
}

#site-title {
font-size: 2.5em;
font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
font-weight: bold;
margin-left: 0em;
padding: 1em;
}



/* Personal tools */
#portal-personaltools {
font-size: 1.2em;
border-radius: 0.7em;
margin-bottom: 1em;
margin-right: 5%;
}

dl.actionMenu.activated dd  {
border-radius: .7em;
}

/* Main navigation */
#nav {
background: #205C90;
border-radius: 0 0 0 4em;
}
#nav ul {;
background: #205C90;
color: #fff;
font-size: 1.2em;
margin-left: 21%;
}
#nav a {
color: #fff;
padding: 1em;
text-decoration: none;
min-width: 3em;
display: inline-block;
border-left: 0.4em black solid;
}
#nav li:last-child a {
border-right: 0.4em black solid;
}

#nav a:hover, #nav li.selected a {background: #ff9900;}


/* Searchbox */
#portal-searchbox {float: right; margin-top: 0;}
#portal-searchbox #searchGadget {border: 1px solid #F1F1F1;padding: 0.1em;}
#searchGadget {border-radius: 0.6em 0 0 0.6em;}
#searchGadget, #header input.searchButton {padding: 0.1em 0.2em;}
#portal-searchbox input.searchButton {border-radius: 0 0.6em 0.6em 0;
margin-left: 0.5em;
background: #F90 url(search-ico.png) no-repeat center center;
border: 1px solid #F90;
color: transparent}
#LSResult {z-index:1; margin-top: 0.5%;}


/****************** CONTENT ******************/

/* Text styles */
.hidden {display: none;}
.clear {clear: both;}
.pb-ajax, .pb-image,
.overlay iframe {font-size: 1.4em;}
.portlet img, #content img {max-width:100%;}

/* lists */
#content li, dl.portlet li {
display: list-item;
line-height: 1.5em;
list-style: square outside;
margin-bottom: 0.25em;
}
#content ol li, dl.portlet ol li {list-style: decimal outside;}
dl.portlet ul.navTreeLevel0 > .navTreeItem {list-style: none;}

/* BREADCRUMBS */
#portal-breadcrumbs a {color: #BACFE2;}

/*
#portal-breadcrumbs {
font-size: 80%;
margin-bottom: 0;
background-color: #ff9900;
border-radius: 2.5em 0 0 0;
padding: 0 0 0 2em;
margin-left: 0;
margin-top: .5em;
}

#portal-breadcrumbs > span {
border-right: .3em solid black;
display: inline-block;
padding: .5em;
margin-bottom: 2em;
}

#portal-breadcrumbs span.breadcrumbSeparator {
border: none;
color: transparent;
}

#breadcrumbs-you-are-here {
padding-right: .5em;
margin-left: 15%;
}

*/

/**** main contents ***/
#portal-columns {
margin: -1em 0 -1em -1em;
}

#portal-column-content {
border-radius: 1em 0 1em 0;
border: solid black 1em;
background-color: black;
}


#portal-column-one {
padding-top: 2em;
background-color: #F90;
}

/*
#portal-column-one:after {
   content:"hi there";
   position:absolute;
   z-index:-1;
   top:0;
   right:0;
   bottom:0;
   left:33.333%;
   background:#f9b6ff;
}
*/

#portal-column-two {
padding-top: 2em;
background-color: #205C90;
border: #205C90 solid .5em;
}

div.position-3\:4 {
margin-left: -25.5%;
}

div.position-0 {
margin-left: -100%;
}

div.width-1\:4 {
width: 25%;
}

div.width-3\:4 {
width: 70.75%;
}

div.width-1\:2 {
width: 44.5%;
}

/* make the two colored corners invisible*/

#main-tr {
margin-top: -1.5em;
background: black;
height: .5em;
width: 2em;
float: right;
margin-right: -2em;
}
#main-trb {
margin-top: -1em;
background: #205C90;
height: 1em;
width: 3em;
float: right;
margin-right: -1.9em;
}
#main-bl{
background: black;
height: 1em;
width: 1em;
float: left;
margin-left: -2em;
margin-top: 1em;
}

/****************** FOOTER ******************/

#footer {background: #205C90; color: #fff;}
#footer a:link {color:#fff;}
#footer a:visited {color:#f1f1f1;}
#footer a:hover {color: #f1f1f1 !important;}
#footer {clear: left; padding: 1em 2em;}


#portal-footer {
font-size: 75%;
background: #DDD;
padding: 0em 5em;
margin: 1em 0;
line-height: 2em;
border-radius: 3em;
color: black;
}
#portal-footer p {
padding: 1em;
border-left: solid 1em black;
text-align: center;
}

#portal-footer a, a:visited {
color: #205C90;
}

#portal-colophon a {
color: #DDD;
}

/* menues */
.actionMenu a {
color: #000;
}


/* Site Actions */

#portal-siteactions-wrapper {
background-color: #ff9900;
border-radius: 1.5em;
margin-bottom: 2em;
}

#portal-siteactions {
text-align: right;
padding-bottom: 0;
padding-right: 3em;
}

#portal-siteactions li:last-child a {
border-right: solid black 1em;
}


#portal-siteactions a {
padding: .5em 1em .5em 1em;
display: inline-block;
border-left: solid black 1em;
color: white;
}

#portal-siteactions li a:hover {
color: black;
}


/******* Overlays  ******/
div.pb-ajax {
border-radius: 2em;
background-color: #555555;
}


/****************** RESPONSIVE DESIGN MAGIC ******************/

#searchbt, #nav #seletor {display:none;}
#nav #seletor {color: #fff;}

@media screen and (max-width: 768px) {

    #wrapper {max-width: 100%;}
    #logo {min-width:140px;}

    /*Columns*/
    #portal-column-one,
    #portal-column-two,
    #portal-column-content {clear: both; width: 97.75%; margin-left: -98.875%;}

    /*Search*/
    #portal-searchbox  {display:none;}

    /*Global navigation*/
    #nav {padding:0;width:100%;
    }

    #searchbt {display:block; float:right;width:14%;}

    #searchbt a {
        display:block;
        text-indent: -900000px;
        padding: 1em;
        margin-top: 4%;
        background:transparent url(search-ico.png) no-repeat center center;
    }

    #nav #seletor {
        display:block;
        padding:1em;
        width:80%;
        background:url("sections-ico.png") no-repeat 97% 60%;
     }

    #nav li {display: none;}

    #nav:hover li {
        display: block;
        width:100%;
        border-top:1px solid #ffffff;;
        display:block !Important;
        padding:0;
    }

    #nav ul {
        width:97.5%;
        margin:0;
        padding:0;
    }

    #nav:hover li a {
        color: #ffffff;;
        width:100%;
        padding:0 2.5%;
        line-height: 3em;
      display: block;
      width: 95% !important;
    }

    #nav:hover li:hover {background: #ff9900;}
    #nav:hover li a:hover,
    #nav:hover li.selected a {background: transparent;}

.overlay.overlay-ajax {top: 10px !Important;}
.overlay.overlay-ajax input.searchPage {
    font-size: 200% !important;
    width: 90%;
    margin-bottom:1em;
}
.overlay.overlay-ajax input.searchPage.searchButton {width:auto;}
.overlay.overlay-ajax #searchform .discreet {text-align:left;}
.overlay.overlay-ajax #content-core strong {display:none;}

}

@media screen and (max-width: 480px) {

    #portal-breadcrumbs {display:none;}
    #site-title {
    font-size: 1.5em;
    }
    #portal-searchbox {
        float: none;
        width:80%;
        clear:both;
        margin: 0 auto 2%;
   }
}
